/* .scroll-container {
    text-align: center;
    padding: 100px 20px;
  }
  
  .box {
    background: #1e40af;
    color: white;
    padding: 20px;
    margin: 50px auto;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    transition: all 0.9s ease-in-out;
  }
   */